<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/image4.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>Date & Time Tweeted</th>
          </tr>
        </thead>
        <tbody>
          #{list items:tweets, as:'tweet'}
          <tr>
            <td>${tweet.tweetText}</td>
            <td>${tweet.date}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>