<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/image1.gif" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome to MyTweet  </header>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Tweet HOME</th>
            <th>Date & Time Tweeted</th>
          </tr>
        </thead>
        <tbody>
          #{list items:allTweets, as:'tweet'}
          <tr>
            <td>${tweet.tweetText}</td>
            <td>${tweet.date}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    </article>
 
  </div>
</section>